name: Matrix Configuration
on: 
    push: 
    workflow_dispatch: 
jobs:
    deploy:
        strategy:
          fail-fast: false
          max-parallel: 2
          matrix:
            os: [ubuntu-latest,ubuntu-22.04,windows-latest]
            images: [hello-world,alpine]
            exclude:
            - os: windows-latest
              images: alpine
            include:
            - name: ubuntu-22.04
              images: amd64/alpine
        runs-on: ${{ matrix.os }}
        steps:
        - name: Echo Docker Details
          run: docker info
        - name: Run image on ${{ matrix.os }}
          run: docker run ${{ matrix.images }}
    
