name: Event filters and activity types
on:
    workflow_dispatch: 
    push:
        branches:
        - main
        - '!feature/*'
        branches-ignore:
        - test/**
        - feature/*
    pull_request: 
        types:
        - opened
        - closed
        paths-ignore: 
        - README.md
        branches: 
        - main


jobs:
    hello:
        runs-on: ubuntu-latest
        steps:
        - run: echo this workfloww/job/step is executed for event type - ${{github.event_name}}